In [80]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential, Model
from tensorflow.keras.layers import Dense, Input, Activation
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score

In [23]:
#import data

employee = pd.read_csv('./Employee.csv')
employee.head(5)

,employee_id,overtime,job_involvement,performance_rating,environment_satisfaction,job_satisfaction,work_life_balance,age,attrition.No,business_travel.Non.Travel,...,monthly_income,num_companies_worked,percent_salary_hike,standard_hours,stock_option_level,total_working_years,training_times_last_year,years_at_company,years_since_last_promotion,years_with_curr_manager
0,1,-56,3,3,3,4,2,51,1,0,...,131160,1,11,8,0,1,6,1,0,0
1,10,-89,3,3,2,1,3,25,1,1,...,134640,1,13,8,1,6,2,6,1,5
2,13,114,3,3,4,1,3,55,1,0,...,55380,0,17,8,0,37,2,36,4,13
3,15,-174,3,3,4,4,2,28,1,0,...,25920,1,14,8,0,5,2,5,0,4
4,16,-117,3,3,3,4,4,37,1,0,...,53460,4,11,8,0,7,2,5,0,1

In [7]:
employee.isnull().sum()

employee_id                   0
overtime                      0
job_involvement               0
performance_rating            0
environment_satisfaction      0
job_satisfaction              0
work_life_balance             0
age                           0
attrition                     0
business_travel               0
department                    0
distance_from_home            0
education                     0
education_field               0
employee_count                0
gender                        0
job_level                     0
job_role                      0
marital_status                0
monthly_income                0
num_companies_worked          0
over18                        0
percent_salary_hike           0
standard_hours                0
stock_option_level            0
total_working_years           0
training_times_last_year      0
years_at_company              0
years_since_last_promotion    0
years_with_curr_manager       0
dtype: int64

In [56]:
#ANN shape
employee.shape[1]

48

In [54]:
#test Train split
X = employee.drop('attrition.No',axis=1)
y= employee['attrition.No']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.2)

In [45]:
X_train = np.stack(X_train, axis=0)

In [59]:
X_train.shape

(1676, 47)

In [60]:
y_train.shape

(1676,)

In [61]:
X_test.shape

(420, 47)

In [92]:
#Ann structure
model= Sequential()
#input layer
model.add(Input(shape=X_train.shape[1]))

#hidden layers
model.add(Dense(45,activation='relu'))
model.add(Dense(45,activation='relu'))
model.add(Dense(45,activation='relu'))
model.add(Dense(45,activation='relu'))

#output layer (data = binary, label encoded,)
model.add(Dense(1,activation='sigmoid'))
model.compile(optimizer='adam',loss='binary_crossentropy', metrics=['accuracy'])

In [93]:
#fit model

model.fit(X_train,y_train,batch_size=200,epochs=10,verbose=1,validation_split=(.4))

Epoch 1/10
6/6 [==============================] - 1s 58ms/step - loss: 270.1530 - accuracy: 0.7174 - val_loss: 70.8402 - val_accuracy: 0.4098
Epoch 2/10
6/6 [==============================] - 0s 13ms/step - loss: 132.3901 - accuracy: 0.7751 - val_loss: 291.5903 - val_accuracy: 0.8674
Epoch 3/10
6/6 [==============================] - 0s 11ms/step - loss: 279.8000 - accuracy: 0.8776 - val_loss: 347.3438 - val_accuracy: 0.8674
Epoch 4/10
6/6 [==============================] - 0s 14ms/step - loss: 285.6885 - accuracy: 0.8776 - val_loss: 264.0625 - val_accuracy: 0.8674
Epoch 5/10
6/6 [==============================] - 0s 13ms/step - loss: 189.8123 - accuracy: 0.8776 - val_loss: 113.1995 - val_accuracy: 0.8674
Epoch 6/10
6/6 [==============================] - 0s 13ms/step - loss: 57.9857 - accuracy: 0.8776 - val_loss: 143.1238 - val_accuracy: 0.1326
Epoch 7/10
6/6 [==============================] - 0s 18ms/step - loss: 69.1328 - accuracy: 0.5920 - val_loss: 84.5105 - val_accuracy: 0.8674
Epoch 8/10
6/6 [==============================] - 0s 12ms/step - loss: 80.3744 - accuracy: 0.8776 - val_loss: 70.7366 - val_accuracy: 0.8674
Epoch 9/10
6/6 [==============================] - 0s 11ms/step - loss: 50.1051 - accuracy: 0.7134 - val_loss: 9.1199 - val_accuracy: 0.8614
Epoch 10/10
6/6 [==============================] - 0s 11ms/step - loss: 36.2114 - accuracy: 0.8746 - val_loss: 73.6482 - val_accuracy: 0.8674

In [79]:
model.evaluate(X_test,y_test)

14/14 [==============================] - 0s 3ms/step - loss: 1.6063 - accuracy: 0.8452

[1.6063086986541748, 0.8452380895614624]

In [94]:
y_pred = model.predict(X_test)

14/14 [==============================] - 0s 2ms/step

In [95]:
confusion_matrix(y_test,y_pred)

array([[  0,  65],
       [  0, 355]], dtype=int64)